* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inconsolata', monospace;
    background: #093652;
    color: white;
    text-align: center;
}
header{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2%;    
    font-size: 1.6rem;

}
.logo {
    height: 40px;
    padding-right: 5px;
    margin-top: 1%;
    margin-bottom: .5%;    
}
.reset-button{
    color:rgb(208, 214, 117);  
    width: 5%;
    height: 2%;   
    font-size: 150%;   
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-top: 2%;
}
.reset-button:hover {
    transition: ease-in;
    color:rgb(238, 255, 0); 
}
.score-area{
    display:flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: #fff;
}
.scores{
    display: inline-block;
    padding: 20px;
    font-weight: bold;
}
#user-score{
    color: #ff6b81;;
}
#ai-score{
    color: rgb(77, 187, 119);
}
#game-mode button{
    font-size: 1.4rem;
    border: none;
    display: inline;
    /* text-align: center; */
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 70%;
    width: 200px;
    height: 200px;
    font-weight: bold;
    color: #fe2e4e;
    background-color: #e5eee9;
}
#game-mode button:hover{
    color: #e5eee9;
    background-color: #fe2e4e;
}
.messages{
    display: inline-flex;
    justify-content: space-around;
    font-size: 3rem;
}
.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    text-align: center;
    margin-top: 30px;
}
.btn--options{
    color: #ffff;
    padding-top: 10px;
    border-radius: 50%;
    background-color:#ff6b81;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size:3.2rem;
    margin: 0 30px;
    transition: all 0.5s;    
}
.btn--options:hover{
    background-color: #ffff;
    color:  #ff6b81;
}
#moves{
    /* display: block; */
    display: inline-flex;
    justify-content: space-around;
    /* text-align: center; */
    margin-top: 10%;
}
.user-move{
    /* display: inline-flex; */
    /* justify-content: space-around; */
    padding-top: 10px;
    border-radius: 50%;
    background-color: #fff; 
    color: #ff6b81;
    border: 10px solid;
    width: 200px;
    height: 200px;
    font-size: 9.2rem;
    /* margin: 10px 30px; */
    margin-top: 30px;
}
.ai-move{
    /* display: inline-flex; */
    /* justify-content: space-around; */
    padding-top:10px;
    border-radius: 50%;
    color: rgb(77, 187, 119);
    background-color: #fff;
    border: 10px solid;
    width:200px;
    height:200px;
    font-size: 9.2rem;
    margin-top: 30px;
    /* margin: 10px 30px; */

}
