* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inconsolata', monospace;
    background: #093652;
    color: white;
    text-align: center;
}
.heading{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3%;    
}
.logo {
    height: 40px;
    padding-right: 5px;
    margin-top: 1%;
    margin-bottom: .5%;    
}
.score-area{
    /* display:flex; */
    justify-content: space-around;
    font-size: 1.7rem;
    color: #fff;
}
.scores{
    display: inline-block;
    padding: 20px;
    font-weight: bold;
}
#user-score{
    color: #ff6b81;;
}
#ai-score{
    color: rgb(77, 187, 119);
}
.messages{
    display: block;
    justify-content: space-around;
    font-size: 3rem;
}